/* Reseteo el selectro universal*/
*{margin: 0; padding: 0;}

/* Header*/
.logo {
display: flex;
align-items: center;
width: 15%;
}

header {
display: flex;
align-items: center;
}
/* Fin Header*/





/* Carrousel*/
.carousel-item {

    display: flex;
    flex-wrap: wrap;
}

.txcarrousel {

    background-color: rgb(216, 243, 243);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration-style:double;
    font-size: 20px;
    margin: 12px 12px 12px 12px;

    
}
/* Fin Carrousel*/









/* grilla productos*/
.row align-items-center {
    display: flex;
    justify-content: space-between;
    width: 30%;

}
/* fin grilla productos*/






/* Footer*/
footer {
    display: flex;
    text-align: end;
    justify-content: center;

}

/* Fin footer*/
