/* Reseteo el selectro universal*/
*{margin: 0; padding: 0;}

header {

    display: flex;
   
   
align-items: center;

}

.logo {
display: flex;
align-items: center;
justify-content: flex-start;
flex-wrap: wrap;
width: 50%;
}



.menu-navegable {

    display: flex;
width: 90%;
align-items: flex-end;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: larger;






}