/* Reseteo el selectro universal*/
*{margin: 0; padding: 0;}

/* Header*/
header {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
display: flex;
justify-content: flex-start;
flex-wrap: wrap;
align-items: center;
width: 15%;
}


.nav-item {
    display: flex;
    justify-content: center;
  



}


/* grilla carrousel*/

.grid-container {

    display: grid;

    grid-template-areas: 

    'fotomonopatin fotoebike fotomono'
    
    'txmonopatin txebike txmono'
    ;

}

